.drink-container{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #000000;
    border-radius: 25px;
    height: 350px;
    width: 280px;
}


.drink-container img{
    height: 260px;
    width: 170px;
}